examples/all_types.json
{
  "Comment": "Contrived Valid Example that should have all State types",
  "StartAt": "Pass",
  "States": {
    "SimpleTask": {
      "Comment": "This is a comment",
      "Type": "Task",
      "Resource": "asd",
      "End": true
    },
    "Task": {
      "Type": "Task",
      "Resource": "asd",
      "Catch": [
        {
          "ErrorEquals": [
            "CustomError1",
            "CustomError2"
          ],
          "ResultPath": "$.asd",
          "Next": "Pass"
        }
      ],
      "Retry": [
        {
          "ErrorEquals": [
            "CustomError1",
            "CustomError2"
          ],
          "IntervalSeconds": 3,
          "MaxAttempts": 10,
          "BackoffRate": 2.5
        }
      ],
      "End": true
    },
    "Pass": {
      "Type": "Pass",
      "Result": {
        "x": 0.1337,
        "y": 3.14159
      },
      "ResultPath": "$.coords",
      "End": true
    },
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Variable": "$.type.foo.bar",
            "StringEquals": "Private"
          },
          "Next": "Public"
        },
        {
          "Variable": "$.value",
          "NumericEquals": 0,
          "Next": "ValueIsZero"
        },
        {
          "And": [
            {
              "Variable": "$.value",
              "NumericGreaterThanEquals": 20.5
            },
            {
              "Variable": "$.value",
              "NumericLessThan": 30
            }
          ],
          "Next": "ValueInTwenties"
        }
      ],
      "Default": "DefaultState"
    },
    "Fail": {
      "Type": "Fail",
      "Error": "ERROR"
    },
    "Succeed": {
      "Type": "Succeed"
    },
    "Parallel": {
      "Type": "Parallel"
    },
    "Wait": {
      "Type": "Wait",
      "End": true,
      "Seconds": 10
    }
  }
}
